@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratLight", sans-serif;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: normal;
}
body {
  background: #39414d;
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
}
